@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
  @include gradient;

  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Push items to the top and bottom */
  align-items: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; /* Set the width of the vertical navbar */

  .navbar-brand {
    margin: 1rem 0; /* Add some spacing between the logo and navigation items */
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Add spacing between navigation items */
    padding: 1rem; /* Add padding for better spacing */

    li {
      a {
        color: $white;
        padding: 0.7rem; /* Add padding for vertical spacing */
        text-transform: capitalize;
        font-weight: 600;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .btn-rounded {
    margin: 1rem; /* Add spacing below the navigation items */
  }
}


