.donation-page {
    text-align: center;
    padding: 20px;
    background-color: #fdf5e6;
}

.donation-title {
    font-size: 2.5rem;
    color: #333;
}

.donation-description {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #555;
}

.donation-options {
    margin-top: 30px;
}

.donation-subtitle {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.donation-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.donation-method {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.payment-logo {
    max-width: 100px;
    margin-bottom: 10px;
}

.donation-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.donation-button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

.thank-you-message {
    margin-top: 30px;
    font-size: 1.2rem;
    color: #28a745;
}

@media (max-width: 768px) {
    .donation-methods {
        flex-direction: column;
        gap: 15px;
    }

    .donation-method {
        width: 100%;
    }
}



.donation-container {
    
    justify-content: center;
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.donation-container h1 {
    text-align: center;
}
.amount-options {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.amount-options button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #0070ba;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.amount-options button:hover {
    background-color: #005a99;
}
.paypal-button-container, #card-form {
    margin-top: 20px;
}